header.bg-white {

    div.between {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: baseline;
    }

}

.container {
    .card {
        .card-footer.spaced > * {
            margin-left: 0.25rem;
        }
    }
}
